html, body {
    height: 95%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    height: 100%;
    padding: 20px;
}

header .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-image {
    max-width: 90%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.2);
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #2B2A2A;
}

.nav-logo {
    height: 75px;
    width: auto;
}

/* Landing Page */
.roboto-serif-title {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    align-items: center;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
    color: #463F3F;
}

.roboto-serif-paragraph {
    font-family: "Roboto Serif", serif;
    font-weight: 400;
    font-size: 20px;
}

/* Headline */
.headline-img {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
    top: -200px; /* Initial position off the screen */
    transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

.spacer {
    height: 100vh; /* Space before and after the image */
}

.headline-img.visible {
    top: 0; /* Final position */
    opacity: 1;
}
